<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" href="{{url_for('static', filename='img/logo.png')}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="/" class="logo"><h2>Galaxy News</h2></a>
        <ul class= "menu">
            <li class="nav-items"><a href='/'>Home</a></li>
            <li class="nav-items"><a href='/'>News</a></li>
            <li class="nav-items"><a href='/'>Blogs</a></li>
            <li class="nav-items"><a href='/'>Contact</a></li>
        </ul>
    </nav>
<section id="main">
    <div class="banner"><img src="https://t4.ftcdn.net/jpg/03/37/92/49/360_F_337924964_fF6I0iZkv9lvoIEn71f0OsgawArIPPDu.jpg">
    </div>
    <div class = "head">TODAY'S TOP HEADLINES</div>
    {% for title,desc,img,p_date,url in contents %}
    <div class="wrapper">
        <div class="item"><a href="{{url}}"><img src="{{img}}"></a></div>
        <div class = "c-box">
        <div class="content"><a href="{{url}}"><h2>{{title}}</h2></a></div>
        <div class="content"><a href="{{url}}"><p>{{desc}}</p></a></div>
        <div class="content"><p style="color:rgb(77, 255, 0);">Publish Date:- </p><p>{{p_date}}</p></div>
        </div>
        </div> 
    {% endfor %}  
    
    <div class = "head">TODAY'S NEWS</div>
    {% for title,desc,img,p_date,url in all %}
    <div class="wrapper">
        <div class="item"><a href="{{url}}"><img src="{{img}}"></a></div>
        <div class = "c-box">
        <div class="content"><a href="{{url}}"><h2>{{title}}</h2></a></div>
        <div class="content"><p>{{desc}}</p></div>
        <div class="content"><p style="color:rgb(77, 255, 0);">Publish Date:- </p><p> {{p_date}} </p></div>
        </div>
        </div> 
    {% endfor %}
</section>
<footer>
<div class="head-git"><h2>For Source Code of this Project , Visit our GIT-HUB page <a href="https://github.com/R-Coder07/rudra-super-translator" class="nav__link">Github-Page</a></h2></div> 
<div class="head-f"><h2> Copyright &copy; Galaxy News 07 2021</h2></div>
</footer>
</body>
</html>
